$font-stack: Poppins, "sans-serif";
$primary-color: #01022e;
$secondary-color: #5a0d5b;
$tertiary-color: #fc2220;

$dark-mode-primary: #090b1a;
$dark-mode-secondary: #153a76;
$dark-mode-tertiary: #9589dd;

$login-box: #ffffffc0;
$login-box-dark: #0a0909c0;

$dark-gray: #2e2d2d;
$font-color: #ddd;
$white: #fff;
$black: #000;
